<html>
<body>

		<h1>{{restaurant.name}}</h1>

		<br/>
		<a href="#">Create New Item</a>
		<br/><br/>


		<h2>Appetizers</h2>
		<ul>
			{% for i in appetizers %}
				<li> 
					<strong>{{ i.name }}</strong>
					<br/> {{ i.description }}
					<br/> {{ i.price }}
					<br/> <a href="#">Edit</a>
					<br/> <a href="#">Delete</a>
					<br/><br/>
				</li>
			{% endfor %}

			{% if appetizers.count == 0 %}
				This menu does not feature any appetizers.
			{% endif %}
		</ul>


		<h2>Entrees</h2>
		<ul>
			{% for i in entrees %}
				<li> 
					<strong>{{ i.name }}</strong>
					<br/> {{ i.description }}
					<br/> {{ i.price }}
					<br/> <a href="#">Edit</a>
					<br/> <a href="#">Delete</a>
					<br/><br/>
				</li>
			{% endfor %}

			{% if entrees.count == 0 %}
				This menu does not feature any entrees.
			{% endif %}
		</ul>


		<h2>Desserts</h2>
		<ul>
			{% for i in desserts %}
				<li> 
					<strong>{{ i.name }}</strong>
					<br/> {{ i.description }}
					<br/> {{ i.price }}
					<br/> <a href="#">Edit</a>
					<br/> <a href="#">Delete</a>
					<br/><br/>
				</li>
			{% endfor %}

			{% if desserts.count == 0 %}
				This menu does not feature any desserts.
			{% endif %}
		</ul>


		<h2>Beverages</h2>
		<ul>
			{% for i in beverages %}
				<li> 
					<strong>{{ i.name }}</strong>
					<br/> {{ i.description }}
					<br/> {{ i.price }}
					<br/> <a href="#">Edit</a>
					<br/> <a href="#">Delete</a>
					<br/><br/>
				</li>
			{% endfor %}

			{% if beverages.count == 0 %}
				This menu does not feature any beverages.
			{% endif %}
		</ul>

</body>
</html>
